.square {
	border-radius: 0
}

.no-shadow {
	-o-box-shadow: none;
	box-shadow: none
}

#hero {
	background-image: url(../images/ER_landing_page_hero.jpg);
	background-position: top right;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #e8f3f7
}

@media only screen and (max-width:767px) {
	#hero .row {
		margin-left: -30px;
		margin-right: -30px
	}
}

#hero #hero-content {
	background: rgba(255, 255, 255, .8);
	padding: 15px;
	margin-top: 20px;
	margin-bottom: 20px
}

@media only screen and (min-width:768px) {
	#hero {
		height: 185px
	}
	#hero #hero-content {
		margin-top: 37px;
		margin-bottom: 37px
	}
}

#hero #hero-content .h1,
#hero #hero-content .h2 {
	margin: 0;
	font-weight: 400
}

#hero #hero-content .h1 {
	color: #023347;
	font-family: 'LinotypeUniversW01-Bold 723691', sans-serif;
	font-size: 44px;
	text-transform: uppercase
}

#hero #hero-content .h2 {
	color: #6b4e00;
	font-family: LinotypeUniversW01-Cn, sans-serif;
	font-size: 30px
}

#care-place-choice .h1,
#compare-options .h1,
#next-steps .h1 {
	border-bottom: 1px solid #04506e;
	font-family: 'LinotypeUniversW01-Bold 723691', sans-serif;
	font-weight: 400;
	padding-bottom: 6px;
	text-transform: uppercase
}

#care-place-choice .h1 {
	color: #b0860e;
	font-size: 28px
}

#compare-options .h1,
#next-steps .h1 {
	color: #023347;
	font-size: 24px
}

.list {
	padding-left: 20px
}

.list li:before {
	color: #0e92c7;
	margin-left: -20px
}

.care-option {
	margin-bottom: 30px
}

.care-option .care-option-title {
	background-color: #04506e;
	padding: 15px
}

.care-option .care-option-title h2 {
	color: #fff;
	font: 400 18px 'LinotypeUniversW01-Bold 723691', sans-serif;
	text-transform: uppercase;
	margin: 0
}

.care-option .care-option-intro .h3,
.care-option .care-option-intro ul li {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px
}

.care-option .care-option-content {
	background-color: #ddeef4;
	padding: 15px;
	border-bottom: 1px solid darkgrey;
	border-left: 1px solid darkgrey;
	border-right: 1px solid darkgrey;
}

.care-option .care-option-intro {
	border: 1px solid darkgrey;
	background-color: #ddeef4;
	/* padding: 5px; */
}

.grey-border-right {
	border-right: 1px solid darkgrey;
}

.grey-border-left {
	border-right: 1px solid darkgrey;
	height: 400px;
}

.intro-content:before {
	border-left: 1px solid darkgrey;
    height: 300px;
}

.care-option .care-option-intro .h3 {
	margin-top: 0;
	font-weight: 700
}

.care-option-intro-content {
	border-bottom: 1px solid darkgrey;
	margin-left: 0;
	margin-right: 0;
}

.care-option .care-option-intro .icon {
	/*padding-left: 64px;*/
	/* border: 1px solid darkgrey; */
}

.care-option .care-option-intro .icon:before {
	-ms-flex: 1;
	flex: 1;
	-ms-flex-preferred-size: 37px;
	flex-basis: 37px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	content: "";
	display: inline-block;
	float: left;
	margin-right: 12px;
	margin-left: -49px;
	min-width: 37px;
	max-width: 37px;
	width: 37px;
	height: 37px
}

.care-option .care-option-intro .icon.icon-stethoscope {
	border-right: 1px solid darkgrey;
	height: 152px;
}

.care-option .care-option-intro .icon.icon-clock {
	border-right: 1px solid darkgrey;
	border-left: 1px solid darkgrey;
	height: 152px;
}

.care-option .care-option-intro .icon.icon-cost {
	border-left: 1px solid darkgrey;
	height: 152px;
}

.doctor-icon-stethoscope-border, .doctor-icon-clock-border, .doctor-icon-cost-border {
	height: 220px!important;
}

.mdlive-icon-stethoscope-border, .mdlive-icon-clock-border, .mdlive-icon-cost-border {
	height: 172px!important;
}

.eroom-icon-stethoscope-border, .eroom-icon-clock-border, .eroom-icon-cost-border {
	height: 90px!important;
}

.care-option .care-option-intro ul {
	list-style-type: none;
	padding-left: 0
}

.care-option .care-option-intro ul li {
	margin-bottom: 6px
}

.care-option .care-option-intro p.small {
	font-size: 11px
}

.care-option .care-option-intro .expand-collapse-button a {
	font-family: LinotypeUniversW01-Cn, sans-serif;
	display: inline-block;
	margin-top: 8px;

}

.care-option .care-option-intro .expand-collapse-button a strong {
	font-weight: 400;
	font-family: 'LinotypeUniversW01-Bold 723691', sans-serif;
	text-transform: uppercase
}

.care-option .care-option-intro .expand-collapse-button a span.collapse-show {
	display: none
}

.care-option .care-option-intro .expand-collapse-button a span.collapse-hide,
.care-option .care-option-intro .expand-collapse-button a.collapsed span.collapse-show {
	display: block
}

.care-option .care-option-intro .expand-collapse-button a.collapsed span.collapse-hide {
	display: none
}

.care-option .care-option-content .callout {
	margin-left: 30px
}

.care-option .care-option-content .callout .list li,
.care-option .care-option-content .callout .list li a {
	color: #0b76a1
}

.care-option .care-option-content .callout a:visited {
	color: #0e92c7
}

.care-option .care-option-content .h4 {
	font-family: 'LinotypeUniversW01-Bold 723697', sans-serif;
	font-weight: 300
}

#issue-levels {
	padding-bottom: 30px
}

#issue-levels .health-issues {
	margin-bottom: 30px
}

#issue-levels .health-issues .issue-content,
#issue-levels .health-issues .level-header {
	padding: 15px
}

#issue-levels .health-issues .level-header {
	color: #fff
}

#issue-levels .health-issues .level-header#minor-health-issues {
	background-color: #6e915f
}

#issue-levels .health-issues .level-header#moderate-health-issues {
	background-color: #ceb15e
}

#issue-levels .health-issues .level-header#medical-emergencies {
	background-color: #d06553
}

#issue-levels .health-issues .level-header .h4 {
	font: 400 18px/1 'LinotypeUniversW01-Bold 723691', sans-serif;
	margin: 0;
	text-transform: uppercase
}

#issue-levels .health-issues .issue-content {
	background-color: #f9f3e7
}

@media only screen and (max-width:767px) and (min-width:481px),
(max-width:991px) and (min-width:768px) {
	#issue-levels .issue-content .list {
		-moz-column-count: 2;
		column-count: 2;
		-moz-column-gap: 45px;
		column-gap: 45px
	}
}

@media only screen and (min-width:992px) {
	#hero {
		background-size: contain
	}
	#issue-levels #health-issues-row {
		display: -ms-flexbox;
		display: flex;
		overflow: hidden
	}
	#issue-levels #health-issues-row .health-issues {
		-ms-flex: 1;
		flex: 1;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-bottom: 0
	}
	#issue-levels #health-issues-row .health-issues .issue-content {
		-ms-flex: 1;
		flex: 1
	}
	#issue-levels #health-issues-row .health-issues .issue-content .list {
		-moz-column-count: initial;
		column-count: initial
	}
}

#next-steps {
/*background-color: #ddeef4;*/
	padding: 30px 0;
	box-shadow: inset 0 -2px 10px rgba(0, 0, 0, .25)
}

#next-steps .h1 {
	margin-top: 0
}

#next-steps .h2 {
	font-family: 'LinotypeUniversW01-Bold 723697', sans-serif;
	font-size: 16px
}

a:link {
	color: #0e92c7
}

footnotes {
	padding-left: 12px;
}

#footer-legal {
	padding-bottom: 10px
}

@media only screen and (max-width:767px) {
	#footer-legal ol.footnotes {
		padding-left: 30px
	}
}

.break-links a {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word
}


/*# sourceMappingURL=careoptions.css.map */
